* {
  margin: 0;
  padding: 0;
}
:root {
  --primaryColor: rgb(29, 82, 134);
  --primaryColorRGB: 29, 82, 134;
  --secondaryColor: #e0e0e0;
  --textColor: #ffffff;
  --backgroundColorSelected: rgba(29, 82, 134, 0.5);
  --backgroundColor: #e0dddd70;
  --backgroundShadow: gray;
  --fontFamily: "Poppins", sans-serif;
}
button {
  background-color: var(--primaryColor);
  color: var(--textColor);
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.noteApp {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: var(--fontFamily);
}

/*  Sidebar   */
.sidebar {
  padding: 1rem;
  width: 240px;
  border-right: solid gray 1px;
  overflow: auto;
}

.createNote {
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.cardWrapper {
  display: flex;
  flex-direction: column-reverse;
}

/* Card */
.noteCard {
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: var(--backgroundColor);
  box-shadow: 0 0 8px 1px rgba(var(--primaryColorRGB), 0.4);
  border-radius: 0.5rem;
}

.noteCard:hover,
.selectedNote {
  background-color: var(--backgroundColorSelected);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cardHeader {
  font-weight: bold;
}

.cardHeader,
.cardText {
  margin-bottom: 0.5rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cardText {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: var(--backgroundShadow);
}

.cardDate {
  font-size: 0.6rem;
  font-style: italic;
  text-align: right;
}

/*  Main Content   */
.mainContent {
  padding: 1rem;
  width: 100%;
}

#inputTextArea,
#inputHeader {
  border: none;
  outline: none;
}

#inputHeader {
  flex-grow: 1; /* Flexibles Wachstum, um den verfügbaren Platz zu füllen */
  font-size: 2rem;
  font-weight: 700;
}

#inputTextArea {
  font-size: 1rem;
  width: 100%;
  height: calc(100vh - 6rem);
}

.titleAndButtons {
  display: flex;
  justify-content: space-between; /* Elements auf den Seiten verteilen */
  align-items: center; /* Elements vertikal zentrieren */
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.saveNote,
.deleteNote,
.createNote {
  padding: 0.8rem;
  color: var(--textColor);
  transition: all 0.3s ease-in-out;
}

.saveNote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
